<!-- Validation failure messages -->
<% if @line_item.errors.any? %>
  <% @line_item.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Line Item</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_line_item" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for restaurant_id -->
      <div class="form-group">
        <label for="restaurant_id" class="control-label">
          Restaurant
        </label>

        <%= select_tag(:restaurant_id, options_from_collection_for_select(Restaurant.all, :id, :created_at, @line_item.restaurant_id), :class => "form-control") %>
      </div>

      <!-- Label and input for menuitem_id -->
      <div class="form-group">
        <label for="menuitem_id" class="control-label">
          Menuitem
        </label>

        <input type="text" id="menuitem_id" name="menuitem_id" placeholder="Menuitem" class="form-control" value="<%= @line_item.menuitem_id %>">
      </div>

      <button class="btn btn-success">
        Create Line Item
      </button>
      or
      <a href="/line_items">Cancel</a>
    </form>
  </div>
</div>
